<a href="https://colab.research.google.com/github/deepakshekhawat1209/python_notes/blob/main/python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1) Python List:

In Python, a list is a mutable sequence of values, represented by square brackets [], where each value is separated by a comma. A list can contain elements of different data types such as integers, floats, strings, and even other lists.
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc. Here's an example of how to create a list:

In [32]:
my_list = [1, 2, 3, "four", 5.6]
my_list

[1, 2, 3, 'four', 5.6]

Here are some common functions and methods that can be used with lists:

**1) len() -** returns the length of a list

In [33]:
my_list = [1, 2, 3, "four", 5.6]
print(len(my_list))

5

**2) append()** - adds an element to the end of the list

In [34]:
my_list = [1, 2, 3, "four", 5.6]
my_list.append("six")
print(my_list)

[1, 2, 3, 'four', 5.6, 'six']

**3) extend()** - adds multiple elements to the end of the list

In [35]:
my_list = [1, 2, 3, "four", 5.6]
my_list.extend(["six", 7])
print(my_list)

[1, 2, 3, 'four', 5.6, 'six', 7]

**4) insert()** - adds an element at a specified index in the list

In [36]:
my_list = [1, 2, 3, "four", 5.6]
my_list.insert(1, "two")
print(my_list)

[1, 'two', 2, 3, 'four', 5.6]

**5) remove()** - removes the first occurrence of a specified element in the list

In [37]:
my_list = [1, 2, 3, "four", 5.6]
element = my_list.pop(1)
print(element)
print(my_list)

2
[1, 3, 'four', 5.6]

**6) index()** - returns the index of the first occurrence of a specified element in the list.

In [38]:
my_list = [1, 2, 3, "four", 5.6]
index = my_list.index("four")
print(index)

3

**7) count()** - returns the number of times a specified element appears in the list.

In [39]:
my_list = [1, 2, 3, "four", 5.6, "four"]
count = my_list.count("four")
print(count)

2

**8) sort()** - sorts the list in ascending order.

In [40]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]
my_list.sort()
print(my_list)

[1, 1, 2, 3, 4, 5, 5, 6, 9]

**9) reverse()**- The reverse() method reverses the sorting order of the elements.

In [41]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

#How to access item in list:

To access an item in a list, you can use its index. In Python, lists are zero-indexed, which means the first item in the list has an index of 0, the second item has an index of 1, and so on.

In [42]:
my_list = ['apple', 'banana', 'cherry']

# Access the first item (index 0)
print(my_list[0])  # Output: 'apple'

# Access the second item (index 1)
print(my_list[1])  # Output: 'banana'

# Access the third item (index 2)
print(my_list[2])  # Output: 'cherry'

apple
banana
cherry

You can also use negative indices to access items from the end of the list. For example, my_list[-1] would give you the last item in the list, my_list[-2] would give you the second-to-last item, and so on.

In [43]:
print(my_list[-2])

banana

#How to change items in list?

To change a list item in Python, you can use the indexing operator [] to access the item you want to change, and then assign a new value to it. Here's an example:

In [44]:
my_list = ['apple', 'banana', 'cherry']
my_list[1] = 'orange'
print(my_list)

['apple', 'orange', 'cherry']

In this example, we first create a list my_list with three items. We then use the indexing operator [] to access the second item ('banana') and assign a new value ('orange') to it. Finally, we print the modified list.

You can use the same method to change any item in a list, as long as you know its index. Keep in mind that indexing in Python starts at 0, so the first item in a list has an index of 0, the second item has an index of 1, and so on.

#How to add list items?

To add items to a list in Python, you can use the append() method. Here's an example:

In [45]:
# create an empty list
my_list = []

# add items to the list using the append() method
my_list.append("apple")
my_list.append("banana")
my_list.append("orange")

# print the list to check the items
print(my_list)

['apple', 'banana', 'orange']

In this example, we first created an empty list called my_list. We then added items to the list using the append() method, which adds each item to the end of the list. Finally, we printed the list to verify that the items were added successfully.

You can also add items to a list using the insert() method, which allows you to insert an item at a specific position in the list. Here's an example:

In [46]:
# create a list with some initial items
my_list = ["apple", "banana", "orange"]

# insert a new item at position 1
my_list.insert(1, "grape")

# print the list to check the items
print(my_list)

['apple', 'grape', 'banana', 'orange']

In this example, we created a list with some initial items, and then used the insert() method to add a new item ("grape") at position 1 (i.e., after the first item in the list). The remaining items in the list were shifted to the right to make room for the new item. Finally, we printed the list to verify that the items were added in the correct order.

To append elements from another list to the current list, use the extend() method.

In [47]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [48]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#How to remove list items?

To remove items from a list in Python, you can use the remove() method or the del keyword.

Using the remove() method:

In [49]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3) # remove the element 3 from the list
print(my_list) # [1, 2, 4, 5]

[1, 2, 4, 5]

Using the del keyword:

In [50]:
my_list = [1, 2, 3, 4, 5]
del my_list[2] # remove the element at index 2 (which is 3) from the list
print(my_list) # [1, 2, 4, 5]

[1, 2, 4, 5]

You can also use the pop() method to remove an item at a specific index and retrieve its value at the same time:

In [51]:
my_list = [1, 2, 3, 4, 5]
popped_value = my_list.pop(2) # remove the element at index 2 (which is 3) from the list and retrieve its value
print(my_list) # [1, 2, 4, 5]
print(popped_value) # 3

[1, 2, 4, 5]
3

It's important to note that if you try to remove an item that is not in the list, the remove() method will raise a ValueError, while using del or pop() with an invalid index will raise an IndexError.

#What is list Comprehension?

List comprehension is a concise way of creating a new list by applying an operation to each element of an existing list, or by filtering elements based on a condition. It allows you to write more readable and efficient code by avoiding the need for explicit loops and temporary variables.

Here are some examples of list comprehension in Python:

Example 1: Creating a new list by applying a function to each element of an existing list

In [52]:
# Square each element of a list
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
print(squares) # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Example 2: Creating a new list by filtering elements based on a condition

In [53]:
# Filter out the odd numbers from a list
numbers = [1, 2, 3, 4, 5]
evens = [x for x in numbers if x % 2 == 0]
print(evens) # Output: [2, 4]

[2, 4]

Example 3: Creating a new list by combining elements from two existing lists

In [54]:
# Multiply corresponding elements from two lists
a = [1, 2, 3]
b = [4, 5, 6]
product = [x * y for x, y in zip(a, b)]
print(product) # Output: [4, 10, 18]

[4, 10, 18]

Example 4: Creating a new list by applying multiple operations to each element of an existing list

In [55]:
# Combine and capitalize strings from a list
words = ['hello', 'world', 'python', 'list']
result = [word.capitalize() + '!' for word in words if len(word) > 4]
print(result) # Output: ['Hello!', 'World!', 'Python!']

['Hello!', 'World!', 'Python!']

List comprehension can also be used with nested loops, conditional statements, and other Python constructs to create more complex and sophisticated list transformations

#How to copy list?

To copy a list in Python, you can use one of the following methods:

Using the copy() method:

You can use the copy() method to create a copy of the list. This method returns a new list with the same elements as the original list.

Example:

In [56]:
list1 = [1, 2, 3, 4]
list2 = list1.copy()
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Using the slicing operator [:]:

You can use the slicing operator to create a copy of the list. This operator creates a new list with all the elements of the original list.

Example:

In [57]:
list1 = [1, 2, 3, 4]
list2 = list1[:]
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Using the list() constructor:
You can use the list() constructor to create a copy of the list. This constructor takes an iterable as an argument and returns a new list with the same elements as the iterable.

Example:

In [58]:
list1 = [1, 2, 3, 4]
list2 = list(list1)
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Note that if the list contains mutable objects (like other lists or dictionaries), these objects will be referenced in the new list and any changes made to them will affect both the original and the copied list. In such cases, you may need to use a deep copy using the copy.deepcopy() function from the copy module.

#How to sort list?

To sort a list in Python, you can use the sorted() function or the sort() method. Both of these functions sort the list in ascending order by default.

Here is an example using the sorted() function:

In [59]:
my_list = [4, 1, 6, 3, 7, 2]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 3, 4, 6, 7]

And here is an example using the sort() method:

In [60]:
my_list = [4, 1, 6, 3, 7, 2]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 6, 7]

If you want to sort the list in descending order, you can pass the reverse=True argument to either function:

In [61]:
my_list = [4, 1, 6, 3, 7, 2]
sorted_list = sorted(my_list, reverse=True)
print(sorted_list)

[7, 6, 4, 3, 2, 1]

In [62]:
my_list = [4, 1, 6, 3, 7, 2]
my_list.sort(reverse=True)
print(my_list)

[7, 6, 4, 3, 2, 1]

#What is lambda function and how it used in list?

Lambda functions, also known as anonymous functions, are small, anonymous functions in Python that can be defined without a name. They are often used in conjunction with higher-order functions, such as map(), filter(), and reduce(), to perform quick, one-line operations on collections of data.

Here's an example of a lambda function that takes a single argument and returns the argument squared:

squared = lambda x: x ** 2

In this case, lambda is used to define a function that takes one argument (x) and returns the result of x squared (x ** 2). The resulting function object is then assigned to the variable squared.

Lambda functions are commonly used in conjunction with list comprehension or the map() function to apply a function to every element of a list. For example, here is how you can use a lambda function with the map() function to square every element in a list:

In [63]:
my_list = [1, 2, 3, 4, 5]
squared_list = list(map(lambda x: x**2, my_list))
print(squared_list)

[1, 4, 9, 16, 25]

This code creates a list called my_list containing the numbers 1 through 5. Then it uses the map() function with a lambda function to apply the squared function to every element of the list. The resulting list of squared values is then converted to a list using the list() function and stored in the variable squared_list. Finally, the print() function is used to display the resulting list.

Lambda functions can also be used with filter() to filter out elements from a list that meet a certain condition. For example, here is how you can use a lambda function with the filter() function to filter out all odd numbers from a list:

In [64]:
my_list = [1, 2, 3, 4, 5]
filtered_list = list(filter(lambda x: x%2 == 0, my_list))
print(filtered_list)

[2, 4]

This code creates a list called my_list containing the numbers 1 through 5. Then it uses the filter() function with a lambda function to filter out all odd numbers from the list. The resulting list of even numbers is then converted to a list using the list() function and stored in the variable filtered_list. Finally, the print() function is used to display the resulting list.