<a href="https://colab.research.google.com/github/deepakshekhawat1209/python_notes/blob/main/python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1) Python List:

In Python, a list is a mutable sequence of values, represented by square brackets [], where each value is separated by a comma. A list can contain elements of different data types such as integers, floats, strings, and even other lists.
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc. Here's an example of how to create a list:

In [ ]:
my_list = [1, 2, 3, "four", 5.6]
my_list

[1, 2, 3, 'four', 5.6]

Here are some common functions and methods that can be used with lists:

**1) len() -** returns the length of a list

In [ ]:
my_list = [1, 2, 3, "four", 5.6]
print(len(my_list))

5

**2) append()** - adds an element to the end of the list

In [ ]:
my_list = [1, 2, 3, "four", 5.6]
my_list.append("six")
print(my_list)

[1, 2, 3, 'four', 5.6, 'six']

**3) extend()** - adds multiple elements to the end of the list

In [ ]:
my_list = [1, 2, 3, "four", 5.6]
my_list.extend(["six", 7])
print(my_list)

[1, 2, 3, 'four', 5.6, 'six', 7]

**4) insert()** - adds an element at a specified index in the list

In [ ]:
my_list = [1, 2, 3, "four", 5.6]
my_list.insert(1, "two")
print(my_list)

[1, 'two', 2, 3, 'four', 5.6]

**5) remove()** - removes the first occurrence of a specified element in the list

In [ ]:
my_list = [1, 2, 3, "four", 5.6]
element = my_list.pop(1)
print(element)
print(my_list)

2
[1, 3, 'four', 5.6]

**6) index()** - returns the index of the first occurrence of a specified element in the list.

In [ ]:
my_list = [1, 2, 3, "four", 5.6]
index = my_list.index("four")
print(index)

3

**7) count()** - returns the number of times a specified element appears in the list.

In [ ]:
my_list = [1, 2, 3, "four", 5.6, "four"]
count = my_list.count("four")
print(count)

2

**8) sort()** - sorts the list in ascending order.

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]
my_list.sort()
print(my_list)

[1, 1, 2, 3, 4, 5, 5, 6, 9]

**9) reverse()**- The reverse() method reverses the sorting order of the elements.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

#How to access item in list:

To access an item in a list, you can use its index. In Python, lists are zero-indexed, which means the first item in the list has an index of 0, the second item has an index of 1, and so on.

In [ ]:
my_list = ['apple', 'banana', 'cherry']

# Access the first item (index 0)
print(my_list[0])  # Output: 'apple'

# Access the second item (index 1)
print(my_list[1])  # Output: 'banana'

# Access the third item (index 2)
print(my_list[2])  # Output: 'cherry'

apple
banana
cherry

You can also use negative indices to access items from the end of the list. For example, my_list[-1] would give you the last item in the list, my_list[-2] would give you the second-to-last item, and so on.

In [ ]:
print(my_list[-2])

banana

#How to change items in list?

To change a list item in Python, you can use the indexing operator [] to access the item you want to change, and then assign a new value to it. Here's an example:

In [ ]:
my_list = ['apple', 'banana', 'cherry']
my_list[1] = 'orange'
print(my_list)

['apple', 'orange', 'cherry']

In this example, we first create a list my_list with three items. We then use the indexing operator [] to access the second item ('banana') and assign a new value ('orange') to it. Finally, we print the modified list.

You can use the same method to change any item in a list, as long as you know its index. Keep in mind that indexing in Python starts at 0, so the first item in a list has an index of 0, the second item has an index of 1, and so on.

#How to add list items?

To add items to a list in Python, you can use the append() method. Here's an example:

In [ ]:
# create an empty list
my_list = []

# add items to the list using the append() method
my_list.append("apple")
my_list.append("banana")
my_list.append("orange")

# print the list to check the items
print(my_list)

['apple', 'banana', 'orange']

In this example, we first created an empty list called my_list. We then added items to the list using the append() method, which adds each item to the end of the list. Finally, we printed the list to verify that the items were added successfully.

You can also add items to a list using the insert() method, which allows you to insert an item at a specific position in the list. Here's an example:

In [ ]:
# create a list with some initial items
my_list = ["apple", "banana", "orange"]

# insert a new item at position 1
my_list.insert(1, "grape")

# print the list to check the items
print(my_list)

['apple', 'grape', 'banana', 'orange']

In this example, we created a list with some initial items, and then used the insert() method to add a new item ("grape") at position 1 (i.e., after the first item in the list). The remaining items in the list were shifted to the right to make room for the new item. Finally, we printed the list to verify that the items were added in the correct order.

To append elements from another list to the current list, use the extend() method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#How to remove list items?

To remove items from a list in Python, you can use the remove() method or the del keyword.

Using the remove() method:

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3) # remove the element 3 from the list
print(my_list) # [1, 2, 4, 5]

[1, 2, 4, 5]

Using the del keyword:

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[2] # remove the element at index 2 (which is 3) from the list
print(my_list) # [1, 2, 4, 5]

[1, 2, 4, 5]

You can also use the pop() method to remove an item at a specific index and retrieve its value at the same time:

In [ ]:
my_list = [1, 2, 3, 4, 5]
popped_value = my_list.pop(2) # remove the element at index 2 (which is 3) from the list and retrieve its value
print(my_list) # [1, 2, 4, 5]
print(popped_value) # 3

[1, 2, 4, 5]
3

It's important to note that if you try to remove an item that is not in the list, the remove() method will raise a ValueError, while using del or pop() with an invalid index will raise an IndexError.

#What is list Comprehension?

List comprehension is a concise way of creating a new list by applying an operation to each element of an existing list, or by filtering elements based on a condition. It allows you to write more readable and efficient code by avoiding the need for explicit loops and temporary variables.

Here are some examples of list comprehension in Python:

Example 1: Creating a new list by applying a function to each element of an existing list

In [ ]:
# Square each element of a list
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
print(squares) # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Example 2: Creating a new list by filtering elements based on a condition

In [ ]:
# Filter out the odd numbers from a list
numbers = [1, 2, 3, 4, 5]
evens = [x for x in numbers if x % 2 == 0]
print(evens) # Output: [2, 4]

[2, 4]

Example 3: Creating a new list by combining elements from two existing lists

In [ ]:
# Multiply corresponding elements from two lists
a = [1, 2, 3]
b = [4, 5, 6]
product = [x * y for x, y in zip(a, b)]
print(product) # Output: [4, 10, 18]

[4, 10, 18]

Example 4: Creating a new list by applying multiple operations to each element of an existing list

In [ ]:
# Combine and capitalize strings from a list
words = ['hello', 'world', 'python', 'list']
result = [word.capitalize() + '!' for word in words if len(word) > 4]
print(result) # Output: ['Hello!', 'World!', 'Python!']

['Hello!', 'World!', 'Python!']

List comprehension can also be used with nested loops, conditional statements, and other Python constructs to create more complex and sophisticated list transformations

#How to copy list?

To copy a list in Python, you can use one of the following methods:

Using the copy() method:

You can use the copy() method to create a copy of the list. This method returns a new list with the same elements as the original list.

Example:

In [ ]:
list1 = [1, 2, 3, 4]
list2 = list1.copy()
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Using the slicing operator [:]:

You can use the slicing operator to create a copy of the list. This operator creates a new list with all the elements of the original list.

Example:

In [ ]:
list1 = [1, 2, 3, 4]
list2 = list1[:]
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Using the list() constructor:
You can use the list() constructor to create a copy of the list. This constructor takes an iterable as an argument and returns a new list with the same elements as the iterable.

Example:

In [ ]:
list1 = [1, 2, 3, 4]
list2 = list(list1)
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Note that if the list contains mutable objects (like other lists or dictionaries), these objects will be referenced in the new list and any changes made to them will affect both the original and the copied list. In such cases, you may need to use a deep copy using the copy.deepcopy() function from the copy module.

#How to sort list?

To sort a list in Python, you can use the sorted() function or the sort() method. Both of these functions sort the list in ascending order by default.

Here is an example using the sorted() function:

In [ ]:
my_list = [4, 1, 6, 3, 7, 2]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 3, 4, 6, 7]

And here is an example using the sort() method:

In [ ]:
my_list = [4, 1, 6, 3, 7, 2]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 6, 7]

If you want to sort the list in descending order, you can pass the reverse=True argument to either function:

In [ ]:
my_list = [4, 1, 6, 3, 7, 2]
sorted_list = sorted(my_list, reverse=True)
print(sorted_list)

[7, 6, 4, 3, 2, 1]

In [ ]:
my_list = [4, 1, 6, 3, 7, 2]
my_list.sort(reverse=True)
print(my_list)

[7, 6, 4, 3, 2, 1]

#What is lambda function and how it used in list?

Lambda functions, also known as anonymous functions, are small, anonymous functions in Python that can be defined without a name. They are often used in conjunction with higher-order functions, such as map(), filter(), and reduce(), to perform quick, one-line operations on collections of data.

Here's an example of a lambda function that takes a single argument and returns the argument squared:

squared = lambda x: x ** 2

In this case, lambda is used to define a function that takes one argument (x) and returns the result of x squared (x ** 2). The resulting function object is then assigned to the variable squared.

Lambda functions are commonly used in conjunction with list comprehension or the map() function to apply a function to every element of a list. For example, here is how you can use a lambda function with the map() function to square every element in a list:

In [ ]:
my_list = [1, 2, 3, 4, 5]
squared_list = list(map(lambda x: x**2, my_list))
print(squared_list)

[1, 4, 9, 16, 25]

This code creates a list called my_list containing the numbers 1 through 5. Then it uses the map() function with a lambda function to apply the squared function to every element of the list. The resulting list of squared values is then converted to a list using the list() function and stored in the variable squared_list. Finally, the print() function is used to display the resulting list.

Lambda functions can also be used with filter() to filter out elements from a list that meet a certain condition. For example, here is how you can use a lambda function with the filter() function to filter out all odd numbers from a list:

In [ ]:
my_list = [1, 2, 3, 4, 5]
filtered_list = list(filter(lambda x: x%2 == 0, my_list))
print(filtered_list)

[2, 4]

This code creates a list called my_list containing the numbers 1 through 5. Then it uses the filter() function with a lambda function to filter out all odd numbers from the list. The resulting list of even numbers is then converted to a list using the list() function and stored in the variable filtered_list. Finally, the print() function is used to display the resulting list.

#Tuple:

In Python, a tuple is a collection of ordered, immutable elements enclosed in parentheses. Tuples are similar to lists, but they cannot be modified once they are created.

To define a tuple, you can enclose a comma-separated sequence of values in parentheses, like this:

In [1]:
my_tuple = (1, 2, 3)

Tuples can also contain elements of different types, such as integers, strings, and even other tuples.

#How to access item in tuple.

In Python, you can access individual elements of a tuple using indexing. Here's an example:

In [2]:
my_tuple = (1, 2, 3, "hello")

# Accessing the first element of the tuple
print(my_tuple[0])  # Output: 1

# Accessing the second element of the tuple
print(my_tuple[1])  # Output: 2

# Accessing the last element of the tuple
print(my_tuple[-1])  # Output: "hello"

1
2
hello

In the above example, we have a tuple called my_tuple that contains four elements. We use indexing to access the first element of the tuple (which has an index of 0), the second element (which has an index of 1), and the last element (which has an index of -1).

You can also use slicing to access a subset of the elements in a tuple

In [3]:
my_tuple = (1, 2, 3, "hello")

# Accessing the first three elements of the tuple
print(my_tuple[:3])  # Output: (1, 2, 3)

# Accessing the last two elements of the tuple
print(my_tuple[-2:])  # Output: (3, "hello")

(1, 2, 3)
(3, 'hello')

In this example, we use slicing to access the first three elements of the tuple (which have indices of 0, 1, and 2), and the last two elements of the tuple (which have indices of -2 and -1).

#How to update item in tuples.

In Python, tuples are immutable, which means you cannot update or modify the elements of a tuple once it has been created. If you want to modify a tuple, you need to create a new tuple with the modified elements.

Here's an example that demonstrates this:

In [4]:
my_tuple = (1, 2, 3, 4, 5)

# This will result in a TypeError, because tuples are immutable
my_tuple[0] = 10

# Instead, create a new tuple with the modified elements
new_tuple = (10,) + my_tuple[1:]
print(new_tuple)  # Output: (10, 2, 3, 4, 5)

TypeError: ignored

In the above example, we start with a tuple called my_tuple that contains the values 1, 2, 3, 4, and 5. We try to update the first element of the tuple to 10, but this results in a TypeError because tuples are immutable.

Instead, we create a new tuple called new_tuple that contains the value 10 as its first element, followed by the remaining elements of my_tuple. We use tuple concatenation to combine the elements of new_tuple and my_tuple[1:] (which is a slice of my_tuple that excludes the first element) into a single tuple. The resulting tuple, new_tuple, contains the same elements as my_tuple, but with the first element updated to 10.

#How to unpack items in tuple?

In Python, you can unpack the elements of a tuple into individual variables using tuple unpacking. Here's an example:

In [5]:
my_tuple = (1, 2, 3)

# Unpacking the elements of the tuple into individual variables
a, b, c = my_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

In this example, we have a tuple called my_tuple that contains the values 1, 2, and 3. We use tuple unpacking to assign these values to three separate variables, a, b, and c. The values of a, b, and c correspond to the first, second, and third elements of the tuple, respectively.

Note that the number of variables on the left-hand side of the assignment operator must match the number of elements in the tuple. If the number of variables is less than the number of elements, you'll get a ValueError:

In [6]:
my_tuple = (1, 2, 3)

# This will result in a ValueError, because there are more elements than variables
a, b = my_tuple

ValueError: ignored

If the number of variables is greater than the number of elements, you'll get a TypeError

#How to join two tuples?

In Python, you can join two tuples into a single tuple using the + operator. Here's an example:

In [8]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Joining the two tuples into a single tuple
joined_tuple = tuple1 + tuple2

print(joined_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In this example, we have two tuples called tuple1 and tuple2 that contain the values 1, 2, 3 and 4, 5, 6, respectively. We use the + operator to join these two tuples into a single tuple called joined_tuple. The resulting tuple contains all of the elements from tuple1 followed by all of the elements from tuple2.

Note that when you join two tuples using the + operator, a new tuple is created. The original tuples are not modified.

#Different methods used in tuple.

However, most of these methods are used for informational purposes and cannot be used to modify the tuple itself since tuples are immutable.

Here are some of the commonly used methods of tuples in Python:

count(): This method takes an element as an argument and returns the number of times that element appears in the tuple.

In [9]:
my_tuple = (1, 2, 2, 3, 4, 4, 4, 5)
count_4 = my_tuple.count(4)
print(count_4)  # Output: 3

3

index(): This method takes an element as an argument and returns the index of the first occurrence of that element in the tuple.

In [10]:
my_tuple = (1, 2, 2, 3, 4, 4, 4, 5)
index_3 = my_tuple.index(3)
print(index_3)  # Output: 3

3

len(): This method returns the number of elements in the tuple.

In [11]:
my_tuple = (1, 2, 3, 4, 5)
tuple_length = len(my_tuple)
print(tuple_length)  # Output: 5

5

Note that since tuples are immutable, you cannot use methods to add, remove or modify elements in a tuple.